<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>THE WORLD OF MAKEUP</ion-card-title>
    
      <div class="topo">
        <ion-img class="logo" src="../../assets/images/logo.jfif" alt="" />
    
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let i of cardapioImages">
          <ion-thumbnail slot="start">
            <img src={{i}} />
          </ion-thumbnail>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card-title>BASES LÍQUIDAS</ion-card-title>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/images/jupxt.jfif" alt="">
        </ion-card>

        <h4>A Base líquida JuPXT é vegana, com alta cobertura e acabamento Matte de longa duração</h4>

        <h5>R$ 19,99</h5>

    </swiper-slide>



    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/images/ruby.jpg" alt="">
      </ion-card>
    </swiper-slide>
    
  </swiper-container>

  <ion-card-title>CORRETIVOS</ion-card-title>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/images/corretivo1.jpg" alt="">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/images/coretivo2.png" alt="">
      </ion-card>
    </swiper-slide>
    
  </swiper-container>


  <ion-card-title>DELINEADORES</ion-card-title>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/images/delineador1.png" alt="">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/images/delineador4.png" alt="">
      </ion-card>
    </swiper-slide>
    
  </swiper-container>


</ion-content>