<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>THE WORLD OF MAKEUP</ion-card-title>
    
      <div class="topo">
        <ion-img class="logo" src="../../assets/images/logo.jfif" alt="" />
    
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let i of cardapioImages">
          <ion-thumbnail slot="start">
            <img src={{i}} />
          </ion-thumbnail>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card-title class="titulo">BASES LÍQUIDAS</ion-card-title>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/images/jupxt.jfif" alt="">
        </ion-card>

        <h4>A Base líquida JuPXT é vegana, com alta cobertura e acabamento Matte de longa duração</h4>

        <h5>R$ 19,99</h5>

    </swiper-slide>



    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/images/ruby.jpg" alt="">
        </ion-card>

        <h4>A base soft matte - ruby rose é ideal para uma cobertura perfeita e impecável.</h4>

        <h5>R$ 13,99</h5>

    </swiper-slide>
    
  </swiper-container>

  <ion-card-title class="titulo">CORRETIVOS</ion-card-title>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/images/corretivo1.jpg" alt="">
        </ion-card>

        <h4>Corretivo líquido com Alta cobertura para todos os tipos de pele. Boca Rosa Beauty by Payot HD é ideal para esconder olheiras e manchas.</h4>

        <h5>R$ 32,50</h5>

    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/images/coretivo2.png" alt="">
      </ion-card>

        <h4>O corretivo Líquido Melu foi feito para você uniformizar a região abaixo dos olhos, espinhas e aquelas manchinhas indesejadas.</h4>

        <h5>R$ 16,99</h5>

    </swiper-slide>
    
  </swiper-container>


  <ion-card-title class="titulo">DELINEADORES</ion-card-title>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/images/delineador1.png" alt="">
        </ion-card>

        <h4>O Delineador Líquido Colorido JUPXT é uma forma rápida e fácil de destacar seus olhos através de cores intensas.</h4>

        <h5>R$ 12,00</h5>

    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/images/delineador4.png" alt="">
      </ion-card>

        <h4>O Delineador Líquido Preto da Ruby Rose tem a ponta fininha que é perfeito para criar traços finos e delicados ou grossos.</h4>

        <h5>R$ 15,99</h5>
    </swiper-slide>
    
  </swiper-container>


</ion-content>